* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1.4rem;
}

html::-webkit-scrollbar-track {
    background: #222;
}

html::-webkit-scrollbar-thumb {
    background: #1E90FF;
}

body {
    background: #111;
    overflow-x: hidden;
    padding-left: 35rem;
}
/* .dark-mode {
    background-color: white;
    color: black;
  } */

section {
    min-height: 100vh;
    padding: 1rem;
}

.btn {
    font-size: 2rem;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    padding: .7rem 3rem;
    margin: 1rem 0;
    border-radius: 5rem;
}

.btn i {
    font-size: 1.5rem;
    padding: 0 .5rem;
}

.btn:hover {
    background: #1E90FF;
}

.heading {
    text-align: center;
    margin: 1rem 6rem;
    padding: 1rem 1rem 1rem;
    font-size: 4rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}

.heading span {
    color: #1E90FF;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .head img {
    height: 17rem;
    width: 17rem;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .6rem solid #1E90FF;
}

header .head .name {
    font-size: 3.5rem;
    color: #fff;
}

header .head .post {
    font-size: 2rem;
    color: #eee;
}

header .navbar {
    width: 100%;
}

header .navbar ul {
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a {
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover {
    background: #1E90FF;
}

.icons a {
    font-size: 2.5rem;
    color: #fff;
    margin: 1rem .7rem;
}

.icons a:hover {
    color: #1E90FF;
}

#menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #333;
    color: #fff;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 3rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home h3 {
    font-size: 2.5rem;
    color: #fff;
    margin: 4rem 0;
}

.wrapper {
    display: inline-flex;
    height: 100%;
}

.wrapper .static-txt {
    color: #fff;
    font-size: 4.5rem;
}

.wrapper .dynamic-txts {
    margin-left: 1rem;
    height: 7rem;
    line-height: 6.3rem;
    overflow: hidden;
}

.dynamic-txts li {
    list-style: none;
    font-size: 4.5rem;
    color: #1E90FF;
    position: relative;
    top: 0;
    animation: slide 5s steps(3) infinite;
}

@keyframes slide {
    100% {
        top: -190px;
    }
}

.dynamic-txts li span {
    position: relative;
}

.dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #111;
    border-left: .2rem solid #1E90FF;
    animation: typing 3s steps(19) infinite;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -25px 0 25px;
    }
}

.home p {
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
}

.about .row-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5rem 0;
}

.about .row-1 .infos {
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}

.about .row-1 .infos h3 {
    font-size: 2rem;
    color: #1E90FF;
    padding: 1rem 0;
    font-weight: normal;
}

.about .row-1 .infos h3 span {
    color: #eee;
    padding: 0 .5rem;
}

.about .row-1 .counter {
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row-1 .counter .box {
    width: 20rem;
    text-align: center;
    background: #222;
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgb(122, 120, 120);
}

.about .row-1 .counter .box span {
    font-size: 4rem;
    color: #1E90FF;
}

.about .row-1 .counter .box h3 {
    font-size: 2rem;
    color: #fff;
}

.resume:hover {
    background-color: #1E90FF;
    border-radius: 50rem;
    padding: 5px;
}

.about .row-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

/* .about .row-2 .skill{
    flex: 1 1 40rem;
} */
.about .row-2 .skill .progress {
    padding: 1rem 4rem;
}

.about .row-2 .skill .progress h3 {
    display: flex;
    justify-content: space-between;
    padding: .7rem 0;
    font-size: 2rem;
    color: #eee;
    font-weight: 400;
}

.skill-img {
    width: 8rem;
    height: 8rem;
    margin: 20px;
}

.education .box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.education .box-container .box {
    width: 27rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.education .box-container .box span {
    font-size: 1.5rem;
    color: #fff;
    background: #222;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.education .box-container .box h3 {
    font-size: 2rem;
    color: #fff;
    padding-top: 1.5rem;
}

.education .box-container .box p {
    font-size: 1.3rem;
    color: #eee;
    padding: 1rem 0;
}

.education .box-container .box i {
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background: #1E90FF;
}

.portfolio .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.portfolio .box-container .box {
    height: 20rem;
    width: 27rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .box-container .box img {
    width: 100%;
    height: 100%;
}

.portfolio .box-container .box:hover img {
    transform: scale(1.4);
}

.contact .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content {
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

.contact .row form .box {
    padding: 1.5rem;
    margin: 1rem 0;
    background-color: #3333;
    color: #fff;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}

.contact .row form .box::placeholder {
    text-transform: capitalize;
}

.contact .row form .message {
    height: 15rem;
    resize: none;
}

.contact .row .content .title {
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .infos h3 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
    font-weight: normal;
}

.contact .row .content .infos h3 i {
    padding-right: 1rem;
    color: #1E90FF;
}

.top {
    position: fixed;
    bottom: 8rem;
    right: 4.5rem;
    z-index: 100;
    display: none;
}

.top img {
    width: 3rem;
}

@media (max-width:1100px) {
    html {
        font-size: 55%;
    }

    .home {
        padding: 1rem 4rem;
    }
}

@media (max-width:800px) {
    header {
        left: -120%;
    }

    #menu {
        display: block;
    }

    header.active {
        left: 0%;
    }

    body {
        padding: 0
    }

    ;
}

@media (max-width:750px) {
    html {
        font-size: 50%;
    }
}

@media (max-width:410px) {
    header {
        width: 100vw;
    }

    .heading {
        margin: 0 3rem;
    }

    .about .row .counter .box {
        width: 100%;
    }

    .education .box-container .box {
        width: 100%;
    }

    .portfolio .box-container .box {
        width: 100%;
    }

    .contact .row form {
        margin: 3rem 0;
    }
}